@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&family=Roboto:wght@400;700;900&display=swap");
:root {
  --dark-color: #1E313B;
  --violet-color: #794EFF;
  --white-color: #fff;
  --orange-color: #FFC147;
  --green-color: #97E747;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  display: block;
}

ul {
  list-style-type: none;
}

.body-usr {
  font-family: "Roboto";
  max-width: 1440px;
  margin: 0 auto;
  color: var(--dark-color);
}

.container {
  max-width: 1300px;
  padding: 0 10px;
}

.header {
  padding: 15px 0px;
}
.header .nav-under__nav {
  padding-left: 30px;
}
.header .nav-link {
  color: inherit;
  font-family: "Roboto";
  font-size: 16px;
  padding: 0px 16px;
}
.header .logo-link {
  padding: 0px;
}
.header .active {
  color: var(--violet-color);
}
.header .btn-primary {
  background-color: var(--dark-color);
  color: var(--white-color);
  border: none;
  padding: 9px 17px;
}

.hero {
  background-color: var(--dark-color);
  padding-bottom: 100px;
}
.hero .hero__block {
  max-width: 600px;
  padding-top: 250px;
  padding-bottom: 470px;
}
.hero .block__h1 {
  color: var(--white-color);
  font-size: 38px;
  line-height: 1.2;
}
.hero .block__h1 .h1__span {
  color: var(--violet-color);
}
.hero .block__text {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.5;
}
.hero .btn {
  background-color: #F6F6F6;
  padding: 10px 15px;
  line-height: 1.5;
  border-radius: 6px;
  display: block;
}
.hero .block__input {
  border-radius: 6px;
  padding: 10px 235px 10px 25px;
  margin-right: 18px;
}
.hero .hero__img {
  position: relative;
}
.hero .hero__img [class^=img] {
  display: block;
  max-width: 100%;
}
.hero .hero__img .img-1 {
  position: absolute;
  z-index: 3;
  top: 130px;
  left: 110px;
}
.hero .hero__img .img-2 {
  position: absolute;
  z-index: 1;
  top: 250px;
  right: 175px;
}
.hero .hero__img .img-3 {
  position: absolute;
  z-index: 2;
  top: 415px;
  left: 85px;
}
.hero .saas {
  text-align: center;
  margin-bottom: 30px;
}

.features {
  padding-top: 130px;
}
.features .features__img {
  position: relative;
}
.features .features__img .img-4 {
  position: absolute;
  z-index: 0;
  bottom: 50px;
}
.features .features__img .img-5 {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 245px;
}
.features .cards__btn {
  font-size: 16px;
  background-color: rgba(255, 193, 71, 0.6);
  border: 2px solid var(--orange-color);
  padding: 2px 30px;
  border-radius: 100px;
  letter-spacing: 1px;
  margin-bottom: 21px;
}
.features .cards__h2 {
  font-weight: bold;
}
.features .cards__text {
  padding: 2em 0em;
}
.features .h2__span {
  color: var(--orange-color);
}
.features .item__title1::before {
  content: url(../img/ficon1.svg);
  padding-right: 0.5em;
  align-self: flex-end;
}
.features .item__title1 {
  color: var(--orange-color);
  display: flex;
}
.features .item__text {
  padding-left: 2.5em;
}
.features .item {
  padding: 0.5em;
}
.features .item__title2::before {
  content: url(../img/ficon2.svg);
  padding-right: 0.5em;
  align-self: flex-end;
}
.features .item__title2 {
  color: var(--orange-color);
  display: flex;
}
.features .item__text {
  padding-left: 2.5em;
}
.features .item {
  padding: 0.5em;
}
.features .item__title3::before {
  content: url(../img/ficon3.svg);
  padding-right: 0.5em;
  align-self: flex-end;
}
.features .item__title3 {
  color: var(--orange-color);
  display: flex;
}
.features .item__text {
  padding-left: 2.5em;
}
.features .item {
  padding: 0.5em;
}
.features .item__title4::before {
  content: url(../img/ficon4.svg);
  padding-right: 0.5em;
  align-self: flex-end;
}
.features .item__title4 {
  color: var(--orange-color);
  display: flex;
}
.features .item__text {
  padding-left: 2.5em;
}
.features .item {
  padding: 0.5em;
}

.stats {
  background-color: #f6f6f6;
  padding: 140px 0px;
}
.stats .stats__btn {
  background-color: rgba(151, 231, 71, 0.6);
  border: 2px solid --green-color;
  border-radius: 100px;
  padding: 3px 30px;
}
.stats .stats__title {
  margin-top: 1em;
}
.stats .title__span {
  color: var(--green-color);
  padding-left: 0.5em;
}
.stats .stats__text {
  font-size: 18px;
  line-height: 1.5;
}
.stats .items__text__1:before {
  content: "87%";
  font-size: 48px;
  color: var(--green-color);
}
.stats .items__text__2:before {
  content: "99%";
  font-size: 48px;
  color: var(--green-color);
}
.stats .items__text__1,
.stats .items__text__2 {
  display: flex;
  flex-direction: column;
}

.team {
  padding: 125px 0px;
}
.team .img__group__1 {
  height: 630px;
}
.team .team__btn {
  padding: 3px 30px;
  background-color: rgba(121, 78, 255, 0.6);
  border-radius: 100px;
  border: 2px solid --violet-color;
  color: var(--white-color);
  margin: 15px 0px;
}
.team .team__title {
  line-height: 1em;
  margin: 15px 0px;
}
.team .title__span {
  color: var(--violet-color);
}
.team .team__text {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}
.team .meet__btn {
  border: 2px solid --violet-color;
  background-color: rgba(121, 78, 255, 0.6);
  color: var(--white-color);
  padding: 17px 19px;
  margin: 15px 0px;
}

.think {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 100px 0px;
}
.think .think__block > * {
  margin: 15px 0px;
}
.think .btn__group {
  width: 262px;
}
.think .btn__group > * {
  font-size: 16px;
  padding: 13px 19px;
  border-radius: 6px;
}
.think .btn__left {
  background-color: var(--violet-color);
  color: var(--white-color);
}
.think .btn__right {
  background-color: var(--white-color);
}
.think .btn__right:hover,
.think .btn__right:active {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.steps {
  padding: 115px 0px;
}
.steps .btn__steps {
  background-color: rgba(255, 193, 71, 0.6);
  border: 2px solid --orange-color;
  padding: 3px 15px;
  border-radius: 100px;
}
.steps .steps__block > * {
  margin: 15px 0px;
}
.steps .steps__title {
  font-weight: bold;
  line-height: 1;
}
.steps .get__btn {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.steps .item {
  padding: 35px 0px;
}
.steps .item__text {
  margin-left: 5em;
}
.steps .item__title__1 {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.steps .item__title__1::before {
  content: url(../img/step_icon_1.svg);
  padding-right: 1em;
}
.steps .item__title__2 {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.steps .item__title__2::before {
  content: url(../img/step_icon_2.svg);
  padding-right: 1em;
}
.steps .item__title__3 {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.steps .item__title__3::before {
  content: url(../img/step_icon_3.svg);
  padding-right: 1em;
}

@media screen and (min-width: 540px) {
  .dropdown {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .body-usr {
    width: 80vh;
  }

  .hero__block {
    padding: 100px 10px !important;
  }

  .block__input {
    border-radius: 6px;
    padding: 10px 40% 10px 25px;
    margin-right: 18px;
  }

  .nav-under__nav {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .hero-block__input {
    flex-direction: column;
    align-items: center;
  }
  .hero-block__input .btn {
    margin-top: 10px;
    width: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .hero__block {
    padding-bottom: 100px !important;
    padding-top: 100px !important;
    margin: 0px auto;
  }

  .hero__img {
    position: static !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__img .img-1,
.hero__img .img-2,
.hero__img .img-3 {
    position: static !important;
  }

  .features__img {
    position: static !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features__img .img-4,
.features__img .img-5 {
    position: static !important;
  }

  .cards__btn {
    display: block;
    margin: 2em auto;
  }

  .cards__h2 {
    text-align: center;
    margin: 1em 0em;
  }
}