@import "./fonts";
:root {
    --dark-color: #1E313B;
    --violet-color: #794EFF;
    --white-color: #fff;
    --orange-color: #FFC147;
    --green-color: #97E747;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    display: block;
}

ul {
    list-style-type: none;
}

.body-usr {
    font-family: "Roboto";
    max-width: 1440px;
    margin: 0 auto;
    color: var(--dark-color);
}

.container {
    max-width: 1300px;
    padding: 0 10px;
}

.header {
    padding: 15px 0px;
    .nav-under__nav {
        padding-left: 30px;
    }
    .nav-link {
        color: inherit;
        font-family: "Roboto";
        font-size: 16px;
        padding: 0px 16px;
    }
    .logo-link {
        padding: 0px;
    }
    .active {
        color: var(--violet-color);
    }
    .btn-primary {
        background-color: var(--dark-color);
        color: var(--white-color);
        border: none;
        padding: 9px 17px;
    }
}

.hero {
    background-color: var(--dark-color);
    padding-bottom: 100px;
    .hero__block {
        max-width: 600px;
        padding-top: 250px;
        padding-bottom: 470px;
    }
    .block__h1 {
        color: var(--white-color);
        font-size: 38px;
        line-height: 1.2;
        .h1__span {
            color: var(--violet-color);
        }
    }
    .block__text {
        color: var(--white-color);
        font-size: 18px;
        line-height: 1.5;
    }
    .btn {
        background-color: #F6F6F6;
        padding: 10px 15px;
        line-height: 1.5;
        border-radius: 6px;
        display: block;
    }
    .block__input {
        border-radius: 6px;
        padding: 10px 235px 10px 25px;
        margin-right: 18px;
    }
    .hero__img {
        [class^='img'] {
            display: block;
            max-width: 100%;
        }
        position: relative;
        .img-1 {
            // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
            position: absolute;
            z-index: 3;
            top: 130px;
            left: 110px;
        }
        .img-2 {
            position: absolute;
            z-index: 1;
            top: 250px;
            right: 175px;
        }
        .img-3 {
            position: absolute;
            z-index: 2;
            top: 415px;
            left: 85px;
        }
    }
    .saas {
        text-align: center;
        margin-bottom: 30px;
    }
}

.features {
    padding-top: 130px;
    .features__img {
        position: relative;
        .img-4 {
            position: absolute;
            z-index: 0;
            bottom: 50px;
        }
        .img-5 {
            position: absolute;
            z-index: 1;
            top: 250px;
            left: 245px;
        }
    }
    .cards__btn {
        font-size: 16px;
        background-color: rgba(255, 193, 71, 60%);
        border: 2px solid var(--orange-color);
        padding: 2px 30px;
        border-radius: 100px;
        letter-spacing: 1px;
        margin-bottom: 21px;
    }
    .cards__h2 {
        font-weight: bold;
    }
    .cards__text {
        padding: 2em 0em;
    }
    ;
    .h2__span {
        color: var(--orange-color);
    }
    @for $i from 1 through 4 {
        .item__title#{$i}::before {
            content: url(../img/ficon#{$i}.svg);
            padding-right: 0.5em;
            align-self: flex-end;
        }
        .item__title#{$i} {
            color: var(--orange-color);
            display: flex;
        }
        .item__text {
            padding-left: 2.5em;
        }
        .item {
            padding: 0.5em;
        }
    }
}

.stats {
    background-color: #f6f6f6;
    padding: 140px 0px;
    .stats__btn {
        background-color: rgba(151, 231, 71, 60%);
        border: 2px solid --green-color;
        border-radius: 100px;
        padding: 3px 30px;
    }
    .stats__title {
        margin-top: 1em;
    }
    .title__span {
        color: var(--green-color);
        padding-left: 0.5em;
    }
    .stats__text {
        font-size: 18px;
        line-height: 1.5;
    }
    .items__text__1:before {
        content: '87%';
        font-size: 48px;
        color: var(--green-color);
    }
    .items__text__2:before {
        content: '99%';
        font-size: 48px;
        color: var(--green-color);
    }
    .items__text__1,
    .items__text__2 {
        display: flex;
        flex-direction: column;
    }
}

.team {
    padding: 125px 0px;
    .img__group__1 {
        height: 630px;
    }
    .team__btn {
        padding: 3px 30px;
        background-color: rgba(121, 78, 255, 0.6);
        border-radius: 100px;
        border: 2px solid --violet-color;
        color: var(--white-color);
        margin: 15px 0px;
    }
    .team__title {
        line-height: 1em;
        margin: 15px 0px;
    }
    .title__span {
        color: var(--violet-color);
    }
    .team__text {
        font-size: 18px;
        line-height: 1.5;
        margin: 15px 0px;
    }
    .meet__btn {
        border: 2px solid --violet-color;
        background-color: rgba(121, 78, 255, 0.6);
        color: var(--white-color);
        padding: 17px 19px;
        margin: 15px 0px;
    }
}

.think {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 100px 0px;
    .think__block>* {
        margin: 15px 0px;
    }
    .btn__group {
        width: 262px;
    }
    .btn__group>* {
        font-size: 16px;
        padding: 13px 19px;
        border-radius: 6px;
    }
    .btn__left {
        background-color: var(--violet-color);
        color: var(--white-color);
    }
    .btn__right {
        background-color: var(--white-color);
    }
    .btn__right:hover,
    .btn__right:active {
        background-color: var(--white-color);
        color: var(--dark-color);
    }
}

.steps {
    padding: 115px 0px;
    .btn__steps {
        background-color: rgba(255, 193, 71, 60%);
        border: 2px solid --orange-color;
        padding: 3px 15px;
        border-radius: 100px;
    }
    .steps__block>* {
        margin: 15px 0px;
    }
    .steps__title {
        font-weight: bold;
        line-height: 1;
    }
    .get__btn {
        background-color: var(--dark-color);
        color: var(--white-color);
    }
    .item {
        padding: 35px 0px;
    }
    .item__text {
        margin-left: 5em;
    }
    @for $i from 1 through 3 {
        .item__title__#{$i} {
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .item__title__#{$i}::before {
            content: url(../img/step_icon_#{$i}.svg);
            padding-right: 1em;
        }
    }
}

@media screen and (min-width:540px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width:540px) {
    .body-usr {
        width: 80vh;
    }
    .hero__block {
        padding: 100px 10px !important;
    }
    .block__input {
        border-radius: 6px;
        padding: 10px 40% 10px 25px;
        margin-right: 18px;
    }
    .nav-under__nav {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .hero-block__input {
        flex-direction: column;
        align-items: center;
        .btn {
            margin-top: 10px;
            width: 60px;
        }
    }
}

@media screen and (max-width:1200px) {
    .hero__block {
        padding-bottom: 100px!important;
        padding-top: 100px!important;
        margin: 0px auto;
    }
    .hero__img {
        position: static!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-1,
        .img-2,
        .img-3 {
            position: static!important;
        }
    }
    .features__img {
        position: static!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-4,
        .img-5 {
            position: static!important;
        }
    }
    .cards__btn {
        display: block;
        margin: 2em auto;
    }
    .cards__h2 {
        text-align: center;
        margin: 1em 0em;
    }
}